.container {
    a {
        text-decoration: none;
    }

    .form-group {
        .alert-trim {
            display: inline-block;
            margin-top: 0.2em;
            padding: 0.15em;
        }
    }
}