@import "../../../assets/scss/mixins.scss";


.msg-container {
    margin: 0;
    border: none;
    height: calc(100vh - 11rem);
    overflow-y: scroll;
    @include transition("filter .2s ease-in 0s");
}

.blurred {
   @include css3-prefix(filter, blur(1px));
}

#noMsg {
    width: 100%;
    height: 100%;
    padding-top: calc((100vh - 11rem) / 2 - 30px);
  }