<div class="container-fuild">
  <div class="row">
    <div class="col-sm-3 col-lg-2 active-list-container">
      @if (userList) {
      <app-active-list
        [users]="userList"
        [current]="chatWith"
        (newConversation)="onNewConversation($event)"
      ></app-active-list
      >}
    </div>

    <div class="col-sm-9 col-lg-10 column">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <!-- <button class="btn btn-warning"></button> -->
          {{ chatWith }}
          <span>online</span>
        </div>

        <div
          class="panel-body msg-container"
          [ngClass]="{ blurred: showActive }"
        >
          @if (noMsg) {
          <div id="noMsg" class="text-center">There are no messages.</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
